
 h1 { color:#ff6347;
 text-align:center;
 margin-top:20px;
 }
 
 body {
	 font-family: Arial, sans-serif;
	 background-color: #f0f8ff;
	 color:#333;
	 margin: 0 ;
	 padding: 0;
 }
 
 p { font-size: 18px;
 line-height: 1.6;
 text-align: center;
 padding: 0 20px;
	  
 }
 
 ul {
	list-style-type:none;
	padding: 0;
	text-align: center;	 
 }
 
 ul li {
	 margin: 10px 0;	 
 }
 
 a{
	 text-decoration:none;
	 color:#1e90ff;
	 font-size: 20px;
	 
 }
 
 a:hover {
	 color:#ff6347;
 font-weight:bold;
 font-size: 25px;
 }
	 