b {
	display-flex:row;
}
p{
	display-flex:row;
}
h {
	display-flex:row;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FF000C;
    color: Black;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

header .logo h1 {
    color: #D32F2F;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: White;
    font-weight: bold;
}

nav ul li a:hover {
    color: #D32F2F;
}



.hero h2{
    font-size: 3em;
	color:white;
}
.hero p{
	font-size: 30px;
	color:white;
}

.team, .fans, .contact {
    padding: 50px 20px;
    text-align: center;
}

.team h2, .fans h2, .contact h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
}

.team-info, .fan-gallery {
    display: flex;
    justify-content: center;
   flex-direction: column;
    flex-wrap: wrap;
	
}

.team-info ul {
    list-style: none;
    font-size: 1.2em;
}

.fan-gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px;
    background-color: #D32F2F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #C2185B;
}

.fans{
	    display: flex;
      flex-direction: column;
	  gap:50px;
}

.row1{
	display: flex;
    flex-direction: row;
	gap:50px;
	    padding: 15px;
}
.row2{
	display: flex;
    flex-direction: row;
		gap:50px;
		 padding: 15px;
}
.row3{
	display: flex;
    flex-direction: row;
		gap:50px;
		 padding: 15px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


.hero{
	 background-image: url('kb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   text-align: center;
       padding: 300px;
}